<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>You have been challenged, <%= @owner.team.name %></h1>
    <p>
      Email them back at <%= @challenger.team.email %>
    </p>
    <p>
      <%= @url %>.
    </p>
  </body>
</html>