<%= render 'user_sessions/form' %>

<div id="homepage">
	<div id="intro">
		<h2> Welcome to MatchUP </h2>
		<p>MatchUP is a Football (soccer) matching app. It makes it easier for teams to find others to play with. Have a venue already booked? Perfect!. Log in, create a new game with the time, venue and how many teams you need and you are good to go.</p>
	</div>
</div>