<%= render 'user_sessions/form' %>

<div id= "homepageBackground"></div>


<!-- <div id="welcome">
	<p>MatchUPs made easy oihsdfohfsdh sdkhfsjkhfj; sfdl;h flhsa lfdhs lfh sdlh flshlsh ler	 saldhfsjlhflsk slshf  sdf</p>
	<p>Kskdfjlshdjldhf sl;kfhsdhf l;ds flhsd ;fhsldkfhl;shfas;hfsg lg hoilhvkcllhiewohisfklsnf ksdlhf klhd lfh </p>
	<p>Kskdfjlshdjldhf sl;kfhsdhf l;ds flhsd ;fhsldkfhl;shfas;hfsg lg hoilhvkcllhiewohisfklsnf ksdlhf klhd lfh </p>
</div> -->