<table>
  <thead>
    <tr>
      <th width="200">Venue name</th>
      <th width="600">Address</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= link_to venue.name, venue_path(venue) %></td>
      <td><%= venue.address %></td>
    </tr>
  </tbody>
</table>