<div class="row">
  <div class="medium-3 columns"><%= link_to venue.name, venue_path(venue) %> <%= link_to venue.name, venue_path(venue) %></div>
  <div class="medium-9 columns"><%= link_to venue.name, venue_path(venue) %></div>
</div>
