<h1>Main page</h1>

<button>Find nearby teams</button>

<p>Have a venue?</p>

<p> Venue name: <select></select> From: <select>From</select> To: <select>To</select> Number of teams required: <select></select> </p>

<button>Matchup</button>