.games {
	background-image: url("field.jpg");
	background-repeat: round;
	background-color: green;
	border: 2px solid;
	border-radius: 25px;
	text-align: center;
	color: white;
}

.matchup {
	width: 200px;
	text-align: center;
}

.game {
	background-color: white;
	border: 2px solid;
	border-radius: 25px;
	text-align: center;
	width: 700px;
	height: 300px;
	margin:  150px auto;
}

.page-title {
	text-align: center;
	width: 400px;
	margin: auto;
}

body {
	background-image: url("football.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

.buttonTo {
	background-color: red;
}

#map-canvas {
	width: 300px;
	height: 300px;
	margin: auto;
}

.reg-form {
	width: 25em;
	height: 50em;
	margin: auto;
	opacity: 0;
}

#email {
	border-radius: 25px;
}

#password {
	border-radius: 25px;
}

#welcome {
	background-color: black;
	width: 840px;
	height: 540px;
	margin: 80px auto;
	opacity: 0.8;
	text-align: center;
	border-radius: 14px;
}

#profile {
	background-color: black;
	width: 350px;
	height: 200px;
	margin: 20px auto;
	opacity: 0.8;
	text-align: center;
	border-radius: 14px;
}

p {
	color: white;
	font-size: 20px;
}

.venue-container {
	width: 200px;
	height: 50px;
	border: 2px solid black;
	margin-left: 40px;
	background-color: white;
}