.games {
	background-image: url("https://s3-us-west-2.amazonaws.com/kikomatchup/field.jpg");
	background-color: green;
	border: 2px solid;
	border-radius: 25px;
	color: white;
	margin-top: 50px;
	margin-left: 150px;
	margin-right: 150px;
	text-align: center;
}

body {
	margin: 0;
	padding: 0;
}

#animated-example {
	margin: 35px 40%;
	width: 300px;
	height: 300px;
}

.background {
	background-image: url("https://s3-us-west-2.amazonaws.com/kikomatchup/ok-1.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

#venue_search {
	width: 400px;
	text-align: center;
	margin: auto;
}

.matchup {
	width: 200px;
	text-align: center;
}

.game {
	background-color: white;
	border: 2px solid;
	border-radius: 25px;
	text-align: center;
	width: 700px;
	height: 300px;
	margin:  150px auto;
}

.page-title {
	text-align: center;
	width: 550px;
	margin: 50px auto;
}

.title {
	color: white;
}

#homepage {
	max-width: 100%;
	height: 100%;
}

#homepage img {
	position: fixed;
	z-index: -1;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
	width: 100%;
}

.buttonTo {
	background-color: red;
}

#map-canvas {
	width: 300px;
	height: 300px;
	margin: auto;
}

.reg-form {
	width: 25em;
	height: 50em;
	margin: auto;
	opacity: 0;
}

#email {
	border-radius: 25px;
}

#password {
	border-radius: 25px;
}

p {
	font-size: 20px;
	text-align: center;
}

#welcome {
	margin: 500px auto;
	text-align: center;
	color: black;
}

#profile {
	background-color: green;
	width: 350px;
	height: 280px;
	margin: 50px auto;
	text-align: center;
	border-radius: 14px;
}

.round alert label {
	background: blue;
}

.venue-container {
	width: 200px;
	height: 50px;
	border: 2px solid black;
	margin-left: 40px;
	background-color: white;
	text-align: center;
}

#venues {
	width: 600px;
	margin: auto;
	text-align: center;
}